body{
    margin: 0;
    background: rgb(95, 45, 104);
    overflow: hidden;
    text-align: center;
}

#carCanvas{
    background: rgb(179, 67, 30);
}
#networkCanvas{
    background: rgb(4, 21, 47);
    /* margin: 50; */
}