body{
    margin: 0;
    background: rgb(111, 126, 223);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#verticalButtons{
    padding: 5px;
    display: flex;
    flex-direction: column;
}
button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    cursor: pointer;
    margin: 5px 10px;
}
button:hover{
    background: rgb(182, 63, 63);
}
input{
    border: none;
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
}
label{
    margin-left: 10px;
}
#carCanvas{
    background: rgb(108, 104, 116);
}
#networkCanvas{
    background: rgb(233, 114, 16);
}
#instructions{
    text-align: left;
    padding: 25px;
    color: black;
}
h1{
    font-family:cursive;
    padding-left: 40px;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    word-spacing: 0.1px;
}
#labelforcount{
    font-weight: bold;
    font-size: 15px;
}
li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}